$primary-color: #007bff;
$secondary-color: #6c757d;

.container {
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  .login-form {
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 20px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      .form-control {
        display: block;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;

        &:focus {
          border-color: $primary-color;
          box-shadow: 0px 0px 5px rgba($primary-color, 0.5);
        }
      }
    }

    button[type="submit"] {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }
}

