<div class="container">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <div class="mt-3">
                <h1 [ngStyle]="{'color': rating != null ? '#ff9900' : null}">{{user.username | uppercase}}</h1>
                <p class="text-secondary mb-1">{{user.email}}</p>
                <p class="text-muted font-size-sm">since {{user.created_on | date}}</p>
                <p class="text-muted font-size-sm" ></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-sm-3">
                <!--                <h6 class="mb-0">Full Name</h6>-->
                <!--              </div>-->
                <!--              <div class="col-sm-9 text-secondary">-->
                <!--                <input type="text" class="form-control" >-->
                <!--              </div>-->
                <!--            </div>-->
                <!--            <div class="row mb-3">-->
                <!--              <div class="col-sm-3">-->
                <!--                <h6 class="mb-0">Email</h6>-->
                <!--              </div>-->
                <!--              <div class="col-sm-9 text-secondary">-->
                <!--                <input type="text" class="form-control">-->
                <!--              </div>-->
                <!--            </div>-->
                <!--            <div class="row">-->
                <!--              <div class="col-sm-3"></div>-->
                <!--              <div class="col-sm-9 text-secondary">-->
                <!--                <input type="button" class="btn btn-dark px-4" value="Save Changes">-->
              </div>
            </div>
            <div></div>
            <div class="points">
              <h2>Rating</h2>
              <p *ngIf="rating != null;else noRating">User has <span class="points-count">{{rating.rating}}</span> points!</p>
            </div>
            <div *ngIf="scores.length">
              <h1>Scores</h1>
              <div class="post" *ngFor="let score of scores">
                <hr>
                <div class="header">
                </div>
                <div class="info" >
                  <small>{{score.playedOn | date}}</small>
                </div>
                <div>
                  <p>score: {{score.points}}</p>
                </div>
              </div>
            </div>
            <!--            COMMENTS-->
            <div *ngIf="comments.length">
              <h1>Comments</h1>
              <div class="post" *ngFor="let comment of comments">
                <hr>
                <div class="header">
                </div>
                <div class="info" >
                  <small>{{comment.commentedOn | date}}</small>
                </div>
                <div>
                  <p>{{comment.comment}}</p>
                </div>
              </div>
            </div>
            <!--       Comments  -->
            <!--       SCORES    -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #noRating>
  <p>No Rating Yet</p>
</ng-template>


